{% extends 'base.html.twig' %}
{% block main %} {{ 'menu.users' |trans|raw  }}{% endblock %}
{% block body %}
    <div class="row">
       <div class="col-xs-12">
           <div class="box">
               <div class="box-header">
                   <h3 class="box-title">{{  'users.table.title' |trans|raw  }}</h3>
                   <div class="pull-right box-tools">
                       <a href="{{ path('user_add') }}">
                           <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="" data-original-title="{{ 'users.add' |trans|raw  }}">
                               <i class="fa fa-plus"></i>
                           </button>
                       </a>
                   </div>
               </div>
               <div class="box-body">
                   <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                       <div class="row">
                           <div class="col-sm-6"></div>
                           <div class="col-sm-6"></div>
                       </div>
                       <div class="col-sm-12">
                           <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                               <thead>
                               <tr role="row">
                                   <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending">
                                       {{  'users.first.name' |trans|raw  }}
                                   </th>
                                   <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                                       {{  'users.last.name' |trans|raw  }}
                                   </th>
                                   <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Login</th>
                                   <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Email</th>
                                   <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                       {{  'users.actions' |trans|raw  }}
                                   </th>
                               </tr>
                               </thead>
                               {% for user in users %}
                                   <tr class="odd">

                                       <td>{{ user.firstName }}</td>
                                       <td>{{ user.lastName }}</td>
                                       <td>{{ user.username }}</td>
                                       <td>{{ user.email }}</td>
                                       <td>
                                           &nbsp;&nbsp;&nbsp;&nbsp;
                                           <a href="{{ path('user_delete', {'id': user.id}) }}" data-toggle="tooltip" title="" data-original-title="{{ 'users.delete' |trans|raw  }}">
                                               <i class="fa fa-trash-o"></i>
                                           </a>&nbsp;&nbsp;&nbsp;&nbsp;

                                       </td>
                                   </tr>
                               {% else %}
                                   <tr>
                                       <td colspan="5">{{  'users.no.record.found' |trans|raw  }}</td>
                                   </tr>
                               {% endfor %}
                               <tbody>

                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
{% endblock %}